@use "src/css/colors.scss" as colors;

.brackets-overlay {
  --bracket-color: var(--q-primary);
  --bracket-offset: 0px;
  --bracket-size: 0.25rem;
  --z-index: 1;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateZ(0);
  z-index: var(--z-index);

  display: none;

  &.hovering:not(.focus-only),
  &.focused.focus-origin-keyboard {
    display: block;
  }

  &::before,
  &::after,
  .bracket-helper::before,
  .bracket-helper::after {
    content: "";
    position: absolute;
    width: var(--bracket-size);
    height: var(--bracket-size);
    border: 1px solid var(--bracket-color);
    filter: drop-shadow(0 0 4px var(--bracket-color));
  }

  &::before {
    top: var(--bracket-offset);
    left: var(--bracket-offset);
    border-width: 1px 0 0 1px;
  }

  &::after {
    bottom: var(--bracket-offset);
    right: var(--bracket-offset);
    border-width: 0 1px 1px 0;
  }

  .bracket-helper::before {
    top: var(--bracket-offset);
    right: var(--bracket-offset);
    border-width: 1px 1px 0 0;
  }

  .bracket-helper::after {
    bottom: var(--bracket-offset);
    left: var(--bracket-offset);
    border-width: 0 0 1px 1px;
  }

  &.item-disabled {
    --bracket-color: #{colors.$text-disabled};
    filter: none;
  }
}

.brackets-overlay,
.brackets-overlay * {
  pointer-events: none;
}

// .brackets-overlay:active {
//   background: red !important;
// }

// :has(:hover)
:has(:active):has(~ .brackets-overlay) {
  & ~ .brackets-overlay.hovering {
    filter: drop-shadow(0 0 4px var(--bracket-color));
  }
}

// :has(:active):has(~ .brackets-overlay) {
//   &::before,
//   &::after,
//   .bracket-helper::before,
//   .bracket-helper::after {
//     filter: drop-shadow(0 0 14px var(--bracket-color));
//   }
// }
